* {
	padding:0;
	margin: 0;
	box-sizing:border-box;
}

body {
	/* background-color:rgb(200,200,200); */
	font-family:Open Sans, sans-serif;
	font-size:16px;
}

.container {
	max-width:1400px;
	height:100%;
	margin:0 auto;
	padding-left:5px;
	padding-right:5px;
	display:flex;
}

.container--top {
	flex-wrap:wrap;
	align-items:stretch;
	justify-content:space-around;
}

.container--footer {

}

.header {
	width: 100%;
	height:120px;
	background: url(../img/head_background.jpg) no-repeat center;
	background-size: cover;
	background-color: #706255;
}

.header-top {
	width:100%;
	height:100px;
	background-color:rgba(99,66,33,0.4);
	position:fixed;
	top:0;
}

.header__logo {
	width:80px;
	height:50px;
	background: url(../img/logo_kursor.svg) no-repeat center;
	background-size: contain;
}

.header__address {
	order:3;
	font-size: 10px;
	font-weight:600;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	margin: 0 20px;
}

.header__phone {
	font-size:14px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

li {
	list-style-type:none;
	text-align:center;
}

.link {
	text-decoration:none;
	color:#000;
}

.h1 {
	
}

.main {
	max-width:1400px;
	background-color: #fff;
	margin:0 auto;
	padding:5px;
	display:flex;
	/* flex-wrap:nowrap; */
}

.left-menu-wrapper {
	display:none;
}

.left-menu {
	position:fixed;
	/* top:0; */
	display:flex;
	flex-direction:column;
}

.left-menu__item {
	height:40px;
	padding-left:20px;
	padding-top:10px;
	border-left: solid 2px #c5c5c5;
	display:block;
	color:black;
	text-decoration:none;
	transition: background-color .2s ease-in;
}

.left-menu__item:hover {
	background-color:#c5c5c5;
	border-left: solid 2px #00a0e3;
	cursor:pointer;
}

.center-block {
	padding-left:5px;
	padding-right:5px;
}

.center-block__text {
	font-size:10px;
	text-align:justify;
	margin-bottom:10px;
}

.center-block__text p {
	margin-top:5px;
}

.center-block__image {
	width:100%;
	/* display:none; */
	margin:0 auto;
	opacity:0.5;
}

.h2 {
	font-size:16px;
	display:block;
	margin-bottom:20px;
	text-align:center;
}

.right-col-wrapper {
	display:none;
	width: 200px;
	flex-shrink:0;
}

.order-form {
	position:fixed;
	display:flex;
	flex-direction:column;
}

.footer {
	width: 100%;
	height:20px;
	background-color: rgba(153,102,51,0.45);
}

.footer__contacts {
	width:240px;
	display:flex;
	flex-direction:column;
}

.footer__phone {
	font-size:16px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	margin-top: 3px;
	margin-bottom: 30px;
}

.footer-menu {
	width:200px;
	/* padding-left:20px; */
	flex-shrink:0;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
}

.footer-menu__item {
	height:35px;
	font-size:14px;
	display:block;
	color:black;
	text-decoration:none;	
}

.hidden {
	display:none;
}